:root{
    --pixel-size: calc(100vw / 18 - 15px);
}


.table{
    display: grid;
    margin: auto;
    /*grid-auto-flow: dense;*/
    width: calc(18*var(--pixel-size));
    height: calc(10*var(--pixel-size));
    padding: 10px;
}

.table > li{
    width: var(--pixel-size);
    height: var(--pixel-size);
}


ul, ol{
    list-style: none;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
}

.item{
    position: absolute;
    width: var(--pixel-size);
    height: var(--pixel-size);
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    
}

.item:hover{
    transform: scale(1.2);
    z-index: 1;

}

.item li{
    position: absolute;
}

.item-number{
    font-size: 0.8vw;
    top: 2px;
    left: 2px;
}

.item-mass{
    font-size: 0.5vw;
    top: 2px;
    right: 2px;
}

.item-symbol{
    font-size: 2.2vw;
    top: 20%;
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-overflow: ellipsis;
}

.item-name{
    font-size: .6vw;
    bottom: 2px;
    left: 2px;
    text-overflow: ellipsis;
}

a{
    text-decoration: none;
    color: black;
}

article > img {
    width: 250px;
}

article{
    margin: auto;
    width: 80%;
}

model-viewer{
    float: right;
    width: 60%;
    height: 500px;
}